
 /* GLOBAL STYLES  */

*, *:before, *:after{
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

em {
    font-style: normal;
}

strong {
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black
}
figcaption {
    font-style: italic;
    font-size: 0.8rem;
    text-wrap: balance;
}

h1, h2, figcaption {
    text-align: center;
}


/* NAVIGATION */


#main-nav {
    position: fixed;
}

nav {
width: 100%;
z-index: 3;
}

nav ul {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(360deg, #f8e6c1, #f7dba7, #f4c27e);
    color: #6d4c1c; 
}

nav li {
    flex: 1; 
    text-align: center; 
}

nav a {
    display: block; 
    width: 100%; 
    padding: 15px 0; 
    border: 1px solid black;
    box-shadow:1px 4px 4px rgb(34, 33, 33);
    font-weight: 900;
    font-size:1.2rem ;
}

@media (max-width: 300px) {
    nav a {
        font-size: 0.8rem; 
        padding: 10px 0; 
        border-width: 0.5px;
    }
}




/* HEADER  */

#header-img {
    height: 170vw;
    width: 100%;
    border-radius: 2px;
    display: block;
}

h1 {
    font-size: 2.3rem;
    margin-top: 10px;
    margin-bottom: 7px;
        text-wrap: balance;
}



/* BODY  */

#bodyy {
    background: #000;
}

h2 {
    font-size: 1.8rem;
    margin: 20px 0 10px 0;
}

img {
    height: 130vw;
    width: 100%;
    border-radius: 5px;
    display: block;
}


p {
    padding: 3px 5%;
}

figcaption {
    padding-top: 5px;
}




/* footer  */


footer {
    background-color: #d4b378;
    margin-top: 15px;
}

.footer-img {
    width: 50px;
    height: 50px;
}

.twdev {
    padding: 5px 0 15px 0;
    display: flex;
    justify-content: center;
}

.socials {
    padding-top: 0.4rem;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

h4 {
    padding: 10px 0 0 15px;

}

.info {
    padding-bottom: 15px;
    display: inline-block;

}

.socials li:first-child {
    padding-left: 15px;
}



/* LOGIN/REGISTER/BOOKING SECTIONS  */



#loginForm ,#registerForm ,#bookingForm { 
   display: flex;
   justify-content: center;
   padding: 2rem 0;

}

.login-form,.register-form ,.booking-form{
   background: linear-gradient(to bottom, #f0f0f0, #d9d9d9);
   border-radius: 10px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.2);
   width: 90%;
   text-align: center;
   display: flex;
   flex-direction: column;
   max-width: 700px;
   gap: 10px;
   padding-bottom: 15px;

}

/* FIXING VIEW PROBLEM FOR LOGIN FORM */
#loginForm {
    padding-top: 6rem !important;
}


aside {
    padding-bottom: 15px;
}

/* Forms header */
legend {
   padding-top: 20px;
   padding-bottom: 4%;
   width: 100%;
   border-radius: 10px 10px 0 0;
   background: linear-gradient(120deg, #b3882a, #ffd700, #b3882a);
   font-weight: bold;
   font-size: xx-large;
}

/* LINKS */
.login-form a, .register-form a {
   color:#D97706;
}

/* FORMS SUBMIT BUTTON  */
.login-form .btn, .register-form .btn, .booking-form .btn {
   background: linear-gradient(to right, #DAA520, #FFD700);
   padding: 12px 25px;
   font-size: 1.6rem;
   font-weight: bold;
   border-radius: 6px;
   cursor: pointer;
   margin: 0 auto;
   width: 100%;
   max-width: 263px;
}

.login-form .btn:hover, .register-form .btn:hover {
   background-position: right center;
   transform: translateY(-2px);
   color: #000;
}

.login-form .btn:active, .register-form .btn:active {
   transform: translateY(0);
}


/* INPUTS  */


input {
   width: 100%;
   height: 50px; 
   padding: 12px; 
   border: 2px solid #ccc; 
   border-radius: 10px; 
   font-size: 1.2rem; 
   max-width: 263px;
   margin: 0 auto;
}

input:focus {
   border-color: #DAA520;
   box-shadow: 0 4px 10px rgba(218, 165, 32, 0.2); 
}



/* NUMBER OF GUEST  */

#numOfGuests::-webkit-inner-spin-button, 
#numOfGuests::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
#numOfGuests {
    -moz-appearance: textfield;
}
#numOfGuests {
    width: 3rem;
}

#minusBtn{
    margin-right: 10px;
}
#plusBtn{
    margin-left: 10px;
}

#minusBtn , #plusBtn {
    cursor: pointer;
    color: #000;
    font-weight: 800;
    width: 3em;
    background: rgba(157, 160, 163, 0.379);
    height: 2.8em;
    border-radius: 9px;
}





/* FACEBOOK/GOOGLE */

.fb-login, .google-login {
   gap: 10px;
   padding: 12px 20px;
   font-size: 0.6rem;
   font-weight: bold;
   border-radius: 8px;
   cursor: pointer;
   width: 70%;
   align-self: center;
   max-width: 149px;
}

#fblogin ,#fbregister {
   background: #1877F2;
   color: white;
}

#googlelogin ,#googleregister{
   background: #DB4437;
   color: white;
}


/* PASSWORD SHOW  */

.password-wrapper {
   position: relative;
   width: fit-content;
   align-self: center;
}

#togglePassword, #toggleNewPassword {
   right: 8px;
   top: 15px;
   position: absolute;
   cursor: pointer;
   font-size: larger;
   z-index: 5;
   background-color: white;
   padding-left: 4px;
   color: #DAA520;
}


/* HINTS STYLING  */

.hints {
    padding-bottom: 1%;
}


.register-hints {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: left;
    width: 100%;
    max-width: 263px;
    margin: 0 auto; 
    padding-left: 0.6rem; 
    font-size: 0.6rem; 



    opacity: 0; 
    max-height: 0; 
    overflow: hidden; 
    transition: opacity 0.3s ease-out, max-height 0.3s ease-out; 
    pointer-events: none; 
}

.register-hints.active-hints {
    opacity: 1; 
    max-height: 100px; 

}






